:root {
    font-size: 62.5%;
    --primary-color: #122947;
    --background-color: #F4F1ED;
    --border-color: #B3BAC1;
    --crem-text-color: #9A9DA0;
    --footer-background-color: #F4F1ED;
    --footer-border-color: #D1D1D1;
    --footer-text-color: #959595;
}

body {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: 'M PLUS 1', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 145%;
    min-width: 320px;
}

main {
    text-align: center;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header {
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 3.2rem 1.6rem 0 1.6rem;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 8rem;
}

.menu {
    height: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0 15px;
    margin-top: 30px;
}

.nav-wrapper a{
    margin-right:2rem;
}

.logo {
    position: absolute;
    top: 30px;
    left: 50%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.header-places {
    display: none;
}

.right-menu-icons {
    display: flex;
    flex-direction: row;
}

.right-menu-icons :last-child {
    margin-left: 2rem;
}

.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 27.4rem;
    align-self: center;
    margin-top: 6rem;
}

.header-main p.main-text {
    margin-top: 2rem;
}

h1 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
}

p {
    margin: 0;
}

a {
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.button {
    margin-top: 4rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    padding: 1.3rem 2.8rem 1.6rem 2.8rem;
}

.button a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 140%;
}

.header-wrapper {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-select a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-select {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 140%;
}

.select-image {
    min-width: 130px;
    min-height: 170px;

    background-image: url(../images/image-for-face.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wrapper-section {
    background-color: var(--background-color);
    padding: 6rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-text {
    font-family: 'Raleway', sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 2.5rem;
}

.crems-border {
    width: 100%;
    margin-top: 5rem;
}

.crems {
    padding: 0;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
}

.crems ul {
    list-style: none;
    padding: 0;
    display: flex;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.crems ul::-webkit-scrollbar {
    display: none;
}

.crem {
    width: 220px;
    height: 297px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-right: 3rem;
    padding-bottom: 2rem;
}

.name-crem {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.desname-crem {
    text-transform: lowercase;
    color: var(--crem-text-color);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 290%;
}

.link-crem {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 145%;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
}

#first-crem {
    background-image: url(../images/crem-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-left: 5rem;
}

#second-crem {
    background-image: url(../images/crem-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#third-crem {
    background-image: url(../images/crem-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#fourth-crem {
    background-image: url(../images/crem-4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.anketa div.wrapper-section {
    padding-bottom: 9.5rem;
}

.bestseller .text-wrapper .button {
    display: none;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 23rem;
}

#anketa-text-first-paragraph {
    display: none;
}

.wrapper-images {
    width: 85%;
    margin: 0 auto;
}

.anketa-photo {
    margin-top: -45px;
    max-width: 100%;
}

.history .wrapper-section {
    max-height: 32rem;
    background-image: url(../images/background-history.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.history .text-wrapper {
    max-width: 100%;
}

.text-history {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 125%;
}

.hidden {
    display: none;
}

.stack-images {
    margin-top: 5rem;
}

.images-wrapper {
    display: flex;
    justify-content: center;
}

.images-wrapper img {
    width: 145px;
    height: 145px;
}

.contacts .text-wrapper {
    align-self: stretch;
    align-items: start;
    text-align: left;
    max-width: 256px;
}

.contacts-list {
    padding: 0;
    list-style: none;
}

.contacts-list li {
    margin-bottom: 3rem;
}

.contact-type {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    margin-right: 3rem;
}

.map-wrapper {
    width: 100%;
    height: 28rem;
    margin: 0 auto;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    background-color: var(--footer-background-color);
}

.footer-text {
    padding: 5rem 1.5rem;
    border-bottom: 0.1rem solid var(--footer-border-color);
}

.footer-places {
    display: grid;
    grid-template-columns: 9.9rem 9.9rem;
    grid-template-rows: 3.6rem 3.6rem;
    grid-gap: 0;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.places p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
}

.bottom-footer {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.5rem;
}

.first-line {
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
}

.first-line p {
    margin-right: 0.2rem;
}


.bottom-footer p {
    color: var(--footer-text-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 100%;
}

@media screen and (min-width: 760px) and (max-width: 137rem) {

    body {
        font-family: 'M PLUS 1', sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
    }
    
    main {
        text-align: left;
    }
    
    .wrapper {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

    header {
        padding: 4rem 4.5rem 7rem;
        margin-bottom: 12rem;
    }

    .header-main h1 {
        font-size: 5.4rem;
    }

    .header-wrapper {
        position:absolute ;
        display: flex;
        flex-shrink: 0;
    }



    .select-image {
        width: 24.5rem;
        height: 32.2rem;
    }


}
