:root {
    font-size: 62.5%;
    --primary-color: #122947;
    --background-color: #F4F1ED;
    --border-color: #B3BAC1;
    --crem-text-color: #9A9DA0;
    --footer-background-color: #F4F1ED;
    --footer-border-color: #D1D1D1;
    --footer-text-color: #959595;
}

body {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 145%;
    min-width: 32rem;
}

main {
    text-align: center;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header {
    max-height: 550px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 60px;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.header {
    margin-left: 16px;
    margin-right: 16px;

}

.menu {
    height: 1.6rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

nav {
    height: 1.6rem;
}

.nav-wrapper a {
    margin-right: 2rem;
}


button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 756px) {
    #desktop {
        display: none;
    }
}

.right-menu-icons {
    display: flex;
    flex-direction: row;
}

.right-menu-icons :last-child {
    margin-left: 2rem;
}

.center-menu {
    position: relative;
    top: -1.6rem;
    line-height: 0;
}

.header-places {
    display: none;
}


.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 27.4rem;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

.header-main p.main-text {
    margin-top: 2rem;
}


h1 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
}

p {
    margin: 0;
}

a {
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.button {
    margin-top: 3rem;
    width: max-content;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    padding: 0 2.8rem 0 2.8rem;
}

.button a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
}

.header-wrapper {
    width: 100%;
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-select a {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-select {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 140%;
}

.select-image {
    min-width: 13rem;
    min-height: 17rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-face {
    background-image: url(../images/image-for-face.png);
}

.image-body {
    background-image: url(../images/image-for-body.png);
}

section {
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bestseller {
    margin-top: 80px;
}


.wrapper-section {
    background-color: var(--background-color);
    padding: 6rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-text {
    font-family: 'Raleway', sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 2.5rem;
}

.desktop-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.crems-border {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    margin-top: 5rem;
}

.crems-border::-webkit-scrollbar {
    display: none;
}

.crems {
    padding: 0;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
}

.crems ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.crem {
    width: 22rem;
    height: 29.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-right: 3rem;
    padding-bottom: 2rem;
}

.name-crem {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.desname-crem {
    text-transform: lowercase;
    color: var(--crem-text-color);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0.65rem;
    margin-bottom: 1rem;
}

.link-crem {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 100%;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
}

#first-crem {
    background-image: url(../images/crem-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-left: 5rem;
}

#second-crem {
    background-image: url(../images/crem-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#third-crem {
    background-image: url(../images/crem-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#fourth-crem {
    background-image: url(../images/crem-4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-left: 1.6rem;
}

.anketa div.wrapper-section {
    padding-bottom: 9.5rem;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 23rem;
}

#anketa-text-first-paragraph {
    display: none;
}

.wrapper-anketa-images {
    position: relative;
    top: -4.5rem;
    width: 85%;
    max-width: 35rem;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    background-image: url(../images/anketa-images.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
}


.history .wrapper-section {
    max-height: 32rem;
    background-image: url(../images/background-history.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.history .text-wrapper {
    max-width: 100%;
}

.text-history {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 125%;
}

.subscribe {
    width: 100%;
}

.hidden {
    display: none;
}

.stack-images {
    margin-top: 5rem;
}

.images-wrapper {
    display: flex;
    justify-content: center;
}

.images-wrapper img {
    width: 50%;
    max-width: 17.7rem;
}

.contacts .text-wrapper {
    align-self: stretch;
    align-items: start;
    text-align: left;
    max-width: 25.6rem;
}

.contacts-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contacts-list li {
    margin-bottom: 3rem;
}

.contact-type {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    margin-right: 3rem;
}

.map-wrapper {
    width: 95%;
    height: 28rem;
    margin: 0 auto;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    background-color: var(--footer-background-color);
}

.bottom-border {
    border-bottom: 0.1rem solid var(--footer-border-color);
}

.footer-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-places {
    display: grid;
    grid-template-columns: 9.9rem 9.9rem 9.9rem;
    grid-template-rows: 3.6rem 3.6rem;
    grid-gap: 0;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.places p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
}

.bottom-footer {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
}

.first-line {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.first-line p {
    margin-right: 0.2rem;
}

.bottom-footer p {
    color: var(--footer-text-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 100%;
}

.chart {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin: 40px auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas:
        "sidebar main main main main main"
        "sidebar main main main main main"
        "sidebar main main main main main";
    gap: 10px;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.one {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
}

.two {
    grid-column: 2 / 4;
    grid-row: 2/3;
}

.three {
    grid-column: 4 / 6;
    grid-row: 2/3;
}

.four {
    grid-column: 6 / 8;
    grid-row: 2/3;
}

.five {
    grid-column: 2 / 5;
    grid-row: 3/4;
}

.six {
    grid-column: 5 / 8;
    grid-row: 3/4;
}

.referals {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/4;
}

.referals a {
    margin-left: 15px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.container .square {    
    aspect-ratio: 1/1;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
}

.container .square  .button {
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
}  


@media screen and (min-width: 756px) {

    #mobile {
        display: none;
    }

    body {
        font-size: 1.8rem;
    }

    main {
        text-align: left;
    }

    .wrapper {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

    header {
        padding-top: 40px;
    }

    .header {
        padding-right: 45px;
        padding-left: 45px;
        max-width: 1170px;
    }

    nav {
        height: 2.1rem;
    }

    .right-menu-icons :last-child {
        margin-left: 3rem;
    }

    .header-main {
        position: relative;
        width: 100%;
        z-index: 1;
        margin-top: 9.8rem;
    }

    .header-main h1 {
        font-size: 5.4rem;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -26rem;
        z-index: 0;
    }

    .select-image {
        width: 24.5rem;
        height: 32.2rem;
    }

    .link-select {
        margin-top: 1.5rem;
    }

    .text-select {
        font-size: 1.6rem;
    }

    .heading-text {
        font-size: 3.2rem;
        margin-bottom: 3rem;
    }

    .bestseller {
        margin-top: 120px;
    }

    .bestseller .text-wrapper {
        max-width: 214px;
    }

    .button {
        margin-top: 4rem;
    }

    .button a {
        font-size: 1.6rem;
    }

    .bestseller {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .crems ul {
        margin: 0;
    }

    .desktop-wrapper {
        display: flex;
        flex-direction: row;
    }

    .arrow-switch {
        display: flex;
        flex-direction: row;
        align-self: end;
        margin-top: 2.5rem;
    }

    .arrow-switch img {
        margin-left: 3.2rem;
    }

    .text-wrapper {
        align-items: start;
        max-width: 27.6rem;
    }

    .crem {
        width: 23rem;
        height: 31.2rem;
    }

    .crems-border {
        white-space: nowrap;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-top: 0;
        margin-left: 4rem;
        margin-right: -4.5rem;
        padding: 0;
    }

    .crems-border::-webkit-scrollbar {
        display: none;
    }

    #first-crem {
        margin-left: 2rem;
    }

    #fourth-crem {
        margin-right: 4.5rem;
    }


    #anketa-text-first-paragraph {
        display: inherit;
        margin-bottom: 2.5rem;
    }

    .anketa {
        display: flex;
        flex-direction: row;
    }

    .anketa .wrapper-section {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        min-width: 670px;
        max-width: 670px;
    }

    .anketa .wrapper-section .text-wrapper {
        width: 347px;
        max-width: 347px;
    }

    .anketa .wrapper-section .text-wrapper .main-text {
        width: 339px;
    }

    .wrapper-anketa-images {
        position: inherit;
        margin: 0;
        aspect-ratio: auto;
        max-width: 100%;
        min-height: 400px;
        max-height: 450px;
        width: 100%;
        margin-left: -230px;
        margin-right: -4.5rem;
        white-space: nowrap;
    }

    .wrapper-section {
        padding: 6rem;
    }

    .history .wrapper-section {
        max-height: 39.3rem;
        padding: 10rem 3rem;
    }

    .history .wrapper-section .text-wrapper {
        max-width: 711px;
        text-align: center;
        align-items: center;
    }

    .text-history {
        font-size: 3.2rem;
    }

    .subscribe {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .stack-images {
        margin-top: 0;
        margin-right: 30px;
    }

    .images-wrapper img {
        max-width: 23.3rem;
    }


    .contacts {
        flex-direction: row;
        align-items: center;
        justify-content: start;

    }

    .contacts .wrapper-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 670px;
        max-width: 670px;
    }

    .contact-type {
        margin-bottom: 20px;
    }

    .map-wrapper {
        min-height: 374px;
        max-height: 422px;
        width: 100%;
        margin-left: -30rem;
        margin-right: -4.5rem;
        white-space: nowrap;
    }

    .footer-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .footer-contacts {
        display: flex;
        align-items: center;
    }

    .footer-places {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin-left: 5rem;
        margin-bottom: 0
    }

    .places {
        margin-right: 2.5rem;

    }

    .places p {
        font-size: 1.6rem;
    }

    .bottom-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .first-line {
        margin: 0;
    }
}

@media screen and (min-width: 900px) {
    .header-wrapper {
        justify-content: space-around;
    }
}

@media screen and (min-width: 1360px) {

    main .wrapper {
        padding: 0 0;
    }

    header {
        max-height: 650px;
    }

    .header {
        padding: 0;
    }

    .menu {
        justify-content: end;
    }

    .left-menu {
        display: none;
    }

    .center-menu {
        text-align: left;
    }

    .right-menu {
        display: flex;
    }

    .right-menu-icons :first-child {
        margin-left: 5rem;
    }

    .header-places {
        display: flex;
        list-style: none;
        width: 25.5rem;
        justify-content: space-between;
        font-size: 1.6rem;
    }

    .header-main {
        margin-top: 135px;
    }

    .header-wrapper {
        top: -306px;
    }

    .select-image {
        width: 330px;
        height: 422px;
    }

    .wrapper-section {
        padding: 100px 100px;
    }

    .history .wrapper-section {
        height: 433px;
        justify-content: center;
        padding: 120px 300px;
    }

    .wrapper-anketa-images {
        height: 451px;
        margin-left: -190px;
    }

    .subscribe {
        justify-content: space-between;
    }

    .hidden {
        display: inherit;
    }

    .subscribe .text-wrapper {
        max-width: 381px;
    }

    .map-wrapper {
        height: 422px;
        margin-left: -190px;
    }

}

@media screen and (min-width:1170px) {
    .header {
        width: 1170px;
        margin: 0 auto;
    }

}